.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .header-icon {
    height: 40px;
  }
  
  .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-profile {
    display: flex;
    align-items: center;
  }
  
  .profile-initials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #64648c;
    color: white;
    font-size: 1rem;
    font-weight: bold;
  }