.post-list-item {
    display: block;
    padding: 1rem;
    border-bottom: 1px solid #dee2e6;
  }
  
  .post-author {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .post-author-initials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #64648c;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin-right: 0.5rem; /* Adjust margin to control spacing */
  }
  
  .post-author-name {
    font-size: 1rem;
    font-weight: bold;
    color: #000046; /* Font colour */
  }
  
  .post-content {
    margin-bottom: 1rem;
  }
  
  .post-content h3 {
    margin: 0;
    font-size: 1.25rem;
    color: #64648c; /* Post title colour */
  }
  
  .post-content p {
    margin: 0.5rem 0 0;
  }